{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="container mt-5">
    <div class="card px-4 py-4 shadow-lg">
        <h3 class="text-center mb-4">Account Form</h3>
        <form id="accountForm" method="POST" enctype="multipart/form-data" action="{% url 'account' %}">
            {% csrf_token %}

            <!-- Form Content -->
            <div class="row">
                {% comment %} <div class="col-md-6 mb-3">
                    <label for="customer" class="form-label">Customer</label>
                    {{ form.customer }}
                </div> {% endcomment %}

                <div class="col-md-6 mb-3">
                    <label for="account_number" class="form-label">Account Number</label>
                    {{ form.account_number }}
                </div>
            
                <div class="col-md-6 mb-3">
                    <label for="bank_name" class="form-label">Bank Name</label>
                    {{ form.bank_name }}
                </div>

                <div class="col-md-6 mb-3">
                    <label for="branch_name" class="form-label">Branch Name</label>
                    {{ form.branch_name }}
                </div>
          
                <div class="col-md-6 mb-3">
                    <label for="ifsc_code" class="form-label">IFSC Code</label>
                    {{ form.ifsc_code }}
                </div>

                <div class="col-md-6 mb-3">
                    <label for="account_balance" class="form-label">Account Balance</label>
                    {{ form.account_balance }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="account_status" class="form-label">Account Status</label>
                    {{ form.account_status }}
                </div>
            </div>

            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg px-5">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
