{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<h3 class="mt-4">Account List</h3>

<div class="card px-3 py-3 mt-4">
  <!-- Action Button -->
  <div class="col-md-2 mb-3">
    {% comment %} <a href="{% url 'account' %}" class="btn btn-primary text-decoration-none text-white me-2">
        New Account
    </a> {% endcomment %}
  </div>

  <!-- Account List Table -->
  {% if accounts %}
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap align-middle mb-0">
      <thead>
        <tr class="table-primary">
          <th>S.No</th>
          <th>Account Number</th>
          <th>Account Holder</th>
          <th>GL Line</th>
          <th>Account Type</th>
          <th>Account Category</th>
          <th>Opening Balance</th>
          <th>Total Balance</th>
       
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ account.account_number|default:"-" }}</td>
          <td>{{ account.account_holder|default:"-" }}</td>
          <td>{{ account.gl_line|default:"-" }}</td>
          <td>{{ account.account_type|default:"-" }}</td>
          <td>{{ account.account_category|default:"-" }}</td>
          <td>{{ account.opening_balance|floatformat:2}}</td>
          <td>{{ account.total_balance|floatformat:2}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <!-- Alert for No Data -->
  <div class="alert alert-warning mt-3" role="alert">
      No account data available.
  </div>
  {% endif %}
</div>
{% endblock %}
