{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<h3>Loan Applications</h3>
<div class="card px-2 py-2 mt-5">
  <div class="col-md-4 mb-2 d-flex">
    <a href="{% url 'applyloan' %}" class="btn btn-primary text-decoration-none text-white me-2">
        Apply Loan
    </a>
  </div>

  {% if loans %}
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap align-middle mb-0">
      <thead>
        <tr class="table-primary">
          <th>S.No</th>
          <th>Loan</th>
          <th>Application Number</th>
          <th>Loan Purpose</th>
          <th>Status</th>
          <th>Interest</th>
          <th>Tenure</th>
          <th>Disbursement Type</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for loan in loans %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ loan.loan_amount|default:"-"|floatformat:2 }}</td>
          <td>{{ loan.application_id|default:"-" }}</td>
          <td>{{ loan.loan_purpose|default:"-" }}</td>
          <td>{{ loan.application_status|default:"-" }}</td>
          <td>{{ loan.interest_rate|default:"-" }}</td>
          <td>{{ loan.tenure|default:"-" }}</td>
          <td>{{ loan.disbursement_type|default:"-" }}</td>
          <td>
            <a href="{% url 'loan-restructure' loan.member_id loan.code loan.loantype %}"
               class="btn btn-secondary text-decoration-none text-white me-2 {% if loan.application_status == 'Restructured' %}disabled{% endif %}">
              Restructure
            </a>
            <a href="{% url 'loan-refinance' loan.member_id loan.code loan.loantype %}"
               class="btn btn-success text-decoration-none text-white me-2 {% if loan.application_status == 'Refinanced' %}disabled{% endif %}">
              Refinance
            </a>
            <a href="{% url 'loan-closure' loan.member_id loan.code loan.loantype %}" 
               class="btn btn-warning text-decoration-none text-white">
              Loan Closure
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="alert alert-warning mt-3" role="alert">
      No loan applications available.
  </div>
  {% endif %}
</div>
{% endblock %}
